# This file includes all the libraries that will be installed to run the project

# Jupyter Notebook
ipykernel

# Scraper & DB
praw
psycopg2-binary
python-dotenv

# General DS libs
numpy
pandas
seaborn
matplotlib
scikit-learn

# Text cleaning
contractions
emoji
langdetect

# Sentiment analysis
vaderSentiment
torch
transformers
accelerate
sentence_transformers
bitsandbytes
evaluate
tokenizers
datasets